.skillsWrapper {
  overflow: hidden;
  margin-top: 20px;
}

.title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #00FFCC;
  padding-bottom: 10px;
  font-family: 'Poppins', sans-serif; 
  font-weight: bolder;
}

.skillCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
  min-width: 100px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  padding-top: 45px;
  border-radius: 15px;
  width: 180px;
  background-color:  rgba(30, 30, 60, 1);
  border: solid  1px white;
  height: 150px;
}

.skillCard:hover {
 transform: scale(1.1);

 
}

.logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.text {
  font-size: 20px;
  font-weight: 600;
  color:  rgb(240, 248, 255);
}
