@import "tailwindcss";

/* CSS Variables */
:root {
  --bg-main: rgba(10, 10, 30, 1);

  --about-bg: rgba(20, 20, 50, 1);
  --skills-bg: rgba(30, 30, 60, 1);
  --projects-bg: rgba(40, 0, 60, 1);
  --services-bg: rgba(50, 10, 70, 1);
  --contact-bg: rgba(60, 20, 80, 1);

  --text-main: rgba(255, 255, 255, 1);
  --muted: rgba(180, 180, 200, 1);

  --accent: rgba(255, 99, 71, 1);
  --btn-bg: rgba(255, 99, 71, 1);
  --btn-text: rgba(255, 255, 255, 1);
  --btn-hover: rgba(220, 70, 50, 1);
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-main);
  color: var(--text-main);
  font-family: 'Poppins', sans-serif;
}
